protobuf<3.21
chromadb
pysqlite3-binary
langchain
langchain-community
langchainhub
langchain-chroma
bs4
langchain-openai
lxml
streamlit
setuptools
google-generativeai>=0.8.4
langchain-google-genai>=2.1.3
