protobuf<3.21
chromadb
pysqlite3-binary
langchain
langchain-community
langchainhub
langchain-chroma
bs4
langchain-openai
lxml
streamlit
setuptools
google-generativeai>=0.6.0
langchain-google-genai>=1.0.10
sentence-transformers
torch
